<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <meta name="description" content="Login Screen">
	 <meta name="author" content="WEBPROTO">
	
	<title>Login Screen</title>
	 
	 <link href="/styles/bootstrap.min.css" th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
	 <link href="/styles/bootstrap-theme.css" th:href="@{/styles/bootstrap-theme.css}" rel="stylesheet">
	 <link href="/styles/elegant-icons-style.css" th:href="@{/styles/elegant-icons-style.css}" rel="stylesheet"/>
	 <link href="/styles/fontawesome.css" th:href="@{/styles/fontawesome.css}" rel="stylesheet" />
	 <link href="/styles/fontawesome.min.css" th:href="@{/styles/fontawesome.min.css}" rel="stylesheet" />
	 <link href="/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet">
	 <link href="/styles/style-responsive.css" th:href="@{/styles/style-responsive.css}" rel="stylesheet"/>
</head>
<body class="login-img3-body">
	<div class="container">
		<form class="login-form" th:action="@{/login}" method="post">
			<div th:if="${param.error}">
				<div class="alert alert-danger">
				    Invalid username or password.
				</div>
			</div>
			<div th:if="${param.logout}">
				<div class="alert alert-info">
				    You have been logged out.
				</div>
			</div>
			<div class="login-wrap">
				<p class="login-img"><i class="icon_lock_alt"></i></p>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_profile"></i></span>
					<input type="text" class="form-control" placeholder="Username" name="username" autofocus>
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i class="icon_key_alt"></i></span>
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
				<button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
			</div>
		</form>
	</div>
</body>
</html>