<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{/layout}" >
<head>
<meta charset="ISO-8859-1">
<title>Mark Attendance</title>
</head>
<body>
<div layout:fragment="content" class="wrapper">
	<div class="row" style="margin-left: 5px;">
		<div class="col-lg-4 input-col  " >
			<div class="col-lg-4 input-col " >	
				<label class="control-label"><span th:text="${@environment.getProperty('webproto.schoolmgmt.section')}"></span></label>
			</div>
			<div class="col-lg-8 input-col " >
				<select class="form-control m-bot15">
	             	<option>Sort Student By</option>
	             	<option>2020-2021</option>
	             	<option>Other</option>
	            </select>
			</div>
		</div>
		<div class="col-lg-4 input-col " ></div>
		<div class="col-lg-4 input-col " ></div>
		
		<div class="col-lg-4 input-col  " >
			<div class="col-lg-4 input-col " >	
				<label class="control-label"><span th:text="${@environment.getProperty('webproto.schoolmgmt.searchby')}"></span></label>
			</div>
			<div class="col-lg-8 input-col " >
				<select class="form-control m-bot15">
	             	<option>First Name</option>
	             	<option>Roll No</option>
	            </select>
			</div>
		</div>
		<div class="col-lg-4 input-col " >
			
			<div class="col-sm-8 input-col " >	
				<input type="text" class="form-control" placeholder="search">
			</div>
			<div class="col-sm-4 input-col " >
				<button type="submit" class="btn btn-primary" ><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.search')}"></span></button>
			</div>
		</div>
		<div class="col-lg-4 input-col " ></div>
	</div>
	<div class="row" style="margin-left: 5px;">
          <div class="col-lg-12">
            <section class="panel">
             <!--  <header class="panel-heading">
                Advanced Table
              </header> -->

              <table class="table table-striped table-advance table-hover">
                <tbody>
                  <tr>
                    <th><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.enroll')}"></span></th>
                    <th><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.name')}"></span></th>
                     <th><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.fathername')}"></span></th>
                    <th><i style="text-align: center;"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.status')}"></span></i></th>
                    <th ><i class="icon_cogs" ></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.Action')}"></span></th>
                  </tr>
                  <tr>
                    <td>0128cs151019</td>
                    <td>sonu</td>
                    <td>sonu</td>
                    <td>
                    	<div class="btn-group">
	                    	<span class="btn btn-danger" >AB</span>
	                    	<span class="btn btn-success" >PS</span>
                    	</div>
                    </td>
                    <td>
                      <div class="btn-group">
                      	  <a class="btn btn-danger" href="#">AB</a>
                      	  <a class="btn btn-success" href="#">PS</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>0128cs151018</td>
                    <td>sonu</td>
                    <td>sonu</td>
                    <td>
                    	<div class="btn-group">
	                    	<span class="btn btn-danger" >AB</span>
	                    	<span class="btn btn-success" >PS</span>
                    	</div>
                    </td>
                    <td>
                      <div class="btn-group">
                          <a class="btn btn-danger" href="#">AB</a>
                          <a class="btn btn-success" href="#">PS</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
</div>
</body>
</html>