<html xmlns:th="http://www.thymeleaf.org" th:fragment="SideBarMenuScreen">
<head>
<script type="text/javascript" th:inline="javascript">
function fnGoSubmit(subActionType)
{
	var form = document.SideBarFormBean;
	var actionType = '';
	
	if (subActionType == "TEACHER")
	{
		actionType = /*[[@{/teacher/summary}]]*/;
	}
	else if (subActionType == "CLASS")
	{
		actionType = /*[[@{/class/summary}]]*/;
	}
	else if (subActionType == "VIEW_ATT")
	{
		actionType = /*[[@{/attendance/viewAttendance}]]*/;
	}
	else if (subActionType == "MARK_ATT")
	{
		actionType = /*[[@{/attendance/markAttendance}]]*/;
	}
	else if (subActionType == "STUDENT_DASHBOARD")
	{
		actionType = /*[[@{/student/summary}]]*/;
	}
	else if (subActionType == "STUDENT_REGISTRATION")
	{
		actionType = /*[[@{/student/regform}]]*/;
	}
	else if (subActionType == "STUDENT_ADMISSION")
	{
		actionType = /*[[@{/student/admform}]]*/;
	}
	else if (subActionType == "STUDENT_ENROLL")
	{
		return false;
	}
	else if (subActionType == "STUDENT_EXCELUPLOAD")
	{
		actionType = /*[[@{/student/excleUploadForm}]]*/;
	}
	else if (subActionType == "STUDENT_TCREPORT")
	{
		actionType = /*[[@{/student/tcreport}]]*/;
	}
	else if (subActionType == "STUDENT_ICARD")
	{
		return false;
	}
	else if (subActionType == "STUDENT_SMSREPORT")
	{
		return false;
	}
	
	form.action = actionType;
	form.submit();
	
}
</script>
</head>
<body>
<form method="post" name="SideBarFormBean" id="SideBarFormBean">
<input type="hidden" name="sideBarMenu">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <aside>
	    <div id="sidebar" class="nav-collapse ">
	        <ul class="sidebar-menu">
				<li class="active">
					<a href="#" th:href="@{/admin}">
						<i class="icon_house_alt"></i>
						<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.home')}"></span>
					</a>
				</li>
				<li class="sub-menu">
					<a href="#">
						<i class="fas fa-book-reader"></i>
						<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.studentsection')}"></span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a href="#" onclick="fnGoSubmit('STUDENT_DASHBOARD')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.dashboard')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_REGISTRATION')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.registration')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_ADMISSION')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.admission')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_ENROLL')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.enroll')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_EXCELUPLOAD')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.bulkupload')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_TCREPORT')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.tcissuereport')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_ICARD')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.icard')}"></span></a></li>
						<li><a href="#" onclick="fnGoSubmit('STUDENT_SMSREPORT')"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.smsreport')}"></span></a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="#">
						<i class="fas fa-user-check"></i>
						<i th:text="${@environment.getProperty('webproto.schoolmgmt.label.attendance')}"></i>
						<i class="menu-arrow arrow_carrot-right"></i>
					</a>
					<ul class="sub">
						<li><a href="#" onclick="fnGoSubmit('VIEW_ATT')"><i th:text="${@environment.getProperty('webproto.schoolmgmt.label.attendance.view')}"></i></a></li>
						<li><a href="#" onclick="fnGoSubmit('MARK_ATT')"><i th:text="${@environment.getProperty('webproto.schoolmgmt.label.attendance.mark')}"></i></a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="#" onclick="fnGoSubmit('CLASS')">
						<i class="fas fa-users"></i>
						<i th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.class')}"></i>
					</a>
				</li>
				<li class="sub-menu">
					<a href="#" onclick="fnGoSubmit('TEACHER')">
						<i class="fas fa-chalkboard-teacher"></i>
						<i th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher')}"></i>
					</a>
				</li>
				<li class="sub-menu">
					<a href="/class/subject" th:href="@{/class/subject}">
						<i class="fas fa-user-check"></i>
						<span>Subject</span>
					</a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="fas fa-rupee-sign"></i>
						<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement')}"></span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.managefeeshead')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.feerecipt')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.extrafees')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.settlepayments')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.apiorders')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.dailycashreport')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.headwisereport')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.headwiseestimate')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.Feesdatewise')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.feesdefaulters')}"></span></a></li>
						<li><a href="#"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.feesmanagement.cencelledreceipts')}"></span></a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="#" class="">
					<i class="icon_table"></i>
					<span>Result Management</span>
					<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="#">Manage Exam</a></li>
						<li><a class="" href="#">Exam Schedule</a></li>
						<li><a class="" href="#">Admit Card</a></li>
						<li><a class="" href="#">Upload Marks</a></li>
						<li><a class="" href="#">Marks Entry(12th Pattern)</a></li>
						<li><a class="" href="#">Marks Entry(10th Pattern)</a></li>
						<li><a class="" href="#">Marks Entry</a></li>
						<li><a class="" href="#">Marks Entry(Self Exams)</a></li>
						<li><a class="" href="#">View Student Report Card</a></li>
						<li><a class="" href="#">View Tabulation Sheet</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
					<i class="fas fa-bus-alt"></i>
					<span>Manage Route</span> </a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
					<i class="icon_documents_alt"></i>
					<span>Payroll</span> </a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
					<i class="icon_documents_alt"></i>
					<span>Manage Session</span>
					<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="#">Local Session</a></li>
						<li><a class="" href="#"><span>Global Session</span></a></li>  
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
					<i class="icon_documents_alt"></i>
					<span>Session Transfer</span> </a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="icon_documents_alt"></i>
						<span>Expense/Income</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="#">Expense Entry</a></li>
						<li><a class="" href="#">View Expense Report</a></li>  
						<li><a class="" href="#">Journal</a></li>  
						<li><a class="" href="#">Income / Lone Entry</a></li>  
					</ul>
				</li>
			</ul>
		</div>
	</aside>
</form>
</body>
</html>