<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{/layout}" >
<head>
<meta charset="ISO-8859-1">
<title>Student Registration</title>
<style type="text/css">
.label_check
{
	margin-left: 20px;	
}
.input-col
{
	margin-top: 10px;
}
</style>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function()
{
	$("body").on("input", function(e)
	{
		e.preventDefault();
	});
		
	getByPinCode('localPin', 'localState', 'localDistrict')
	getByPinCode('permanentPin', 'permanentState', 'permanentDistrict')
	fnEnablePreSchInfo(true);
});

function fnEnablePreSchInfo(isOnload)
{
	var isChecked = $("#isEnablePreSchInfo").is(":checked");
	if(isOnload)
	{
		isChecked = /*[[${StudentFormBean.isEnablePreSchInfo}]]*/;
	}
	
	if(isChecked)
	{
		$("#isEnablePreSchInfo").val('true');
		$(".preSchDiv").show();
		if(isOnload)
		{
			$("#isEnablePreSchInfo").prop('checked', true);
		}
	}
	else
	{
		$(".preSchDiv").hide();
		$("#isEnablePreSchInfo").val('false');
		if(isOnload)
		{
			$("#isEnablePreSchInfo").prop('checked', false);
		}
		fnResetPreSchInfo();
	}
}

function fnReset()
{
	$("#firstName").val('');
	$("#lastName").val('');
	$("#dob").val('');
	$("#aadhar").val('');
	$("#contactNo").val('');
	$("#email").val('');
	$("#dob").val('');
	$("#nationality").val('');
	$("#bloodGroup").val('');
	$("#contactNo").val('');
	$("#caste").val('');
	$("#religion").val('');
	$("#category").val('');
	$("#guardianName").val('');
	$("#guardianRelation").val('');
	$("#guardianContact").val('');
	$("#occupation").val('');
	
	$("#localAddress").val('');
	$("#localCity").val('');
	$("#localDistrict").val('');
	$("#localState").val('');
	$("#localPin").val('');
	
	$("#permanentAddress").val('');
	$("#permanentCity").val('');
	$("#permanentDistrict").val('');
	$("#permanentState").val('');
	$("#permanentPin").val('');
	
	$("#fatherName").val('');
	$("#fatherContact").val('');
	$("#fatherOccupation").val('');
	$("#fatherEducation").val('');
	
	$("#motherName").val('');
	$("#motherContact").val('');
	$("#motherOccupation").val('');
	$("#motherEducation").val('');
	
	fnResetPreSchInfo();
}

function fnResetPreSchInfo()
{
	$("#preSchool").val('');
	$("#preSchAddress").val('');
	$("#preSchoolContact").val('');
	$("#lastExam").val('');
	$("#percentage").val('');
	$("#board").val('');
	$("#preRemarks").val('');
	$("#examYear").val('');
}

function getByPinCode(pinDiv, stateDiv, distDiv)
{
	$("#" + pinDiv).css('border', '')
	var pinCode = $("#" + pinDiv).val();
	if(pinCode.length == 6)
	{
		$.ajax({
	        type: "GET",
	        url: "https://api.postalpincode.in/pincode/" + pinCode,
	        timeout: 600000,
	        success: function (response)
	        {
	        	var json = response[0];
	        	var status = json["Status"];
	        	var message = json["Message"];
	        	var postOffice = json["PostOffice"];
	        	var obj;
	        	if(status = "Success")
	        	{
	        		for(i in postOffice)
	        		{
	        			obj = postOffice[i];
	        			$("#" + stateDiv).val(obj["State"]);
	        			$("#"+ distDiv).val(obj["District"]);
	        			break;
	        		}
	        	}
	        	else if (status == "Error")
	        	{
	        		$("#" + pinDiv).css('border', '1px solid #ff0000')
	        	}
	        },
	        error: function (e) 
	        {
	        	$("#" + pinDiv).css('border', '1px solid #ff0000')
	        }
	    });
	}
}

function fnFetchByRegNo()
{
	var regNo = $("#studentId").val();
	if(regNo == null || regNo.trim() == '')
	{
		alert('Registration number ' + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#studentId").focus();
		return false;
	}
	
	if(isNaN(regNo))
	{
		message = 'Registration number ' + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/;
		alert(message);
		$("#studentId").focus();
		return false;
	}
	
	if(!isInt(regNo))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
		alert('Registration number ' + message);
		$("#studentId").focus();
		return false;
	}
	
	var token = /*[[${_csrf.token}]]*/;
	$.ajax({
        type: "POST",
        url: /*[[@{/student/getById}]]*/,
        data: {
        	"regNo"   : regNo
        }, 
        beforeSend: function(xhr) 
	    {
	        xhr.setRequestHeader('X-CSRF-TOKEN', token);
	    },
        cache: false,
        timeout: 600000,
        success: function (response)
        {	
        	var json = JSON.parse(response);
        	
        	Object.entries(json).forEach(([key, val]) => 
    		{
	        	$("#" + key).val(val);
    		});
        },
        error: function (e) 
        {
            console.log("ERROR : ", e);
        }
    });
}

	function onSubmit()
	{
		var form = document.StudentFormBean;
		var requiredInfo = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/;
		var numberMsg = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/;
		var greaterThanZero = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.positivenumber')}]]*/;
		var firstName = $("#firstName").val();
		var lastName = $("#lastName").val();
		var dob = $("#dob").val();
		var aadhar = $("#aadhar").val();
		var contactNo =  $("#contactNo").val();
		var email = $("#email").val();
		var message = '';
		
		var regNo = $("#studentId").val();
		if(regNo == null || regNo.trim() == '')
		{
			alert('Registration number ' + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
			$("#studentId").focus();
			return false;
		}
		
		if(isNaN(regNo))
		{
			message = 'Registration number ' + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/;
			alert(message);
			$("#studentId").focus();
			return false;
		}
		
		if(!isInt(regNo))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
			alert('Registration number ' + message);
			$("#studentId").focus();
			return false;
		}
		
		if(firstName == null || firstName.trim() == '')
		{
			message = $('#firstNameLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#studentId").focus();
			return false;
		}
		
		if(lastName == null || lastName.trim() == '')
		{
			message = $('#lastNameLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#lastName").focus();
			return false;
		}
		
		if(dob == null || dob.trim() == '')
		{
			message = $('#dobLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#dob").focus();
			return false;
		}
		
		if(aadhar == null || aadhar.trim() == '')
		{
			message = 'Aadhar ' + requiredInfo;
			alert(message);
			$("#aadhar").focus();
			return false;
		}
		
		if(isNaN(aadhar))
		{
			message = 'Aadhar ' + numberMsg;
			alert(message);
			$("#aadhar").focus();
			return false;
		}
		
		if(!isInt(aadhar))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.aadhar')}]]*/;;
			alert(message);
			$("#aadhar").focus();
			return false;
		}
		
		if(aadhar.length > 12 || aadhar.length < 12)
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.aadhardigit')}]]*/;
			alert(message);
			$("#aadhar").focus();
			return false;
		}
		
		if ($("#image")[0].files[0] != null) 
        {
            var size = parseFloat($("#image")[0].files[0].size / 1024).toFixed(2);
            if(size > 20)
            {
	            alert(/*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.imagesize')}]]*/);
	            return false;
            }
        }
        else
        {
        	alert(/*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.imagechoosen')}]]*/);
        	$("#image").focus();
            return false;
        }
		
		if(contactNo == null || contactNo.trim() == '')
		{
			message = $('#contactLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#contactNo").focus();
			return false;
		}
		
		if(isNaN(contactNo))
		{
			message = $('#contactLabel').text() + ' ' + numberMsg;
			alert(message);
			$("#contactNo").focus();
			return false;
		}
		
		if(!isInt(contactNo))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
			alert(message);
			$("#contactNo").focus();
			return false;
		}
		
		if(email == null || email.trim() == '')
		{
			alert($("#emailLabel").text() + ' ' + requiredInfo);
			$("#email").focus();
			return false;
		}
		if (!isValidEmail(email))
		{
			alert(/*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.email')}]]*/);
			$("#email").focus();
			return false;
		}
						
		if($("#category").val() == null || $("#category").val().trim() == '')
		{
			message = $('#categoryLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#category").focus();
			return false;
		}
		
		if($("#nationality").val() == null || $("#nationality").val().trim() == '')
		{
			message = $('#nationalityLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#nationality").focus();
			return false;
		}
		
		if($("#guardianName").val() == null || $("#guardianName").val().trim() == '')
		{
			message = $('#guardLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#guardianName").focus();
			return false;
		}
		
		if($("#guardianRelation").val() == null || $("#guardianRelation").val().trim() == '')
		{
			message = $('#guardRelLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#guardianRelation").focus();
			return false;
		}
		
		if($("#guardianContact").val() == null || $("#guardianContact").val().trim() == '')
		{
			message = $('#guardConLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#guardianContact").focus();
			return false;
		}
		
		if(isNaN($("#guardianContact").val()))
		{
			message = $('#guardConLabel').text() + ' ' + numberMsg;
			alert(message);
			$("#guardianContact").focus();
			return false;
		}
		
		if(!isInt($("#guardianContact").val().trim()))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
			alert('Contact number ' + message);
			$("#guardianContact").focus();
			return false;
		}
		
		if($("#localAddress").val() == null || $("#localAddress").val().trim() == '')
		{
			message = $('#addressLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#localAddress").focus();
			return false;
		}
		
		if($("#localCity").val() == null || $("#localCity").val().trim() == '')
		{
			message = $('#cityLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#localCity").focus();
			return false;
		}
		
	 	if($("#localPin").val() == null || $("#localPin").val().trim() == '')
		{
			message = $('#pinLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#localPin").focus();
			return false;
		} 
		
	 	if(!isInt($("#localPin").val().trim()))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
			alert($('#pinLabel').text() + ' ' + message);
			$("#localPin").focus();
			return false;
		}
	 	
		if($("#permanentAddress").val() == null || $("#permanentAddress").val().trim() == '')
		{
			message = $('#pAddLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#permanentAddress").focus();
			return false;
		}
		
		if($("#permanentCity").val() == null || $("#permanentCity").val().trim() == '')
		{
			message = $('#pCityLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#permanentCity").focus();
			return false;
		}
		
	 	if($("#permanentPin").val() == null || $("#permanentPin").val().trim() == '')
		{
			message = $('#pPinLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#permanentPin").focus();
			return false;
		}
	 	
	 	if(!isInt($("#permanentPin").val().trim()))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
			alert($('#pPinLabel').text() + ' ' + message);
			$("#permanentPin").focus();
			return false;
		}
	 	
		if($("#fatherName").val() == null || $("#fatherName").val().trim() == '')
		{
			message = $('#fatherNameLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#fatherName").focus();
			return false;
		}
		
		if($("#fatherContact").val() == null || $("#fatherContact").val().trim() == '')
		{
			message = $('#fatherContLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#fatherContact").focus();
			return false;
		}
		
		if(isNaN($("#fatherContact").val()))
		{
			message = $('#fatherContLabel').text() + ' ' + numberMsg;
			alert(message);
			$("#fatherContact").focus();
			return false;
		}
		
		if(!isInt($("#fatherContact").val().trim()))
		{
			message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
			alert($('#fatherContLabel').text() + ' ' + message);
			$("#fatherContact").focus();
			return false;
		}
				
		if($("#motherName").val() == null || $("#motherName").val().trim() == '')
		{
			message = $('#motherNameLabel').text() + ' ' + requiredInfo;
			alert(message);
			$("#motherName").focus();
			return false;
		}
		
		if($("#motherContact").val() != null || $("#motherContact").val().trim() != '')
		{
			if(isNaN($("#motherContact").val()))
			{
				message = $('#motherConLabel').text() + ' ' + numberMsg;
				alert(message);
				$("#motherContact").focus();
				return false;
			}
			
			if(!isInt($("#motherContact").val().trim()))
			{
				message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
				alert($('#motherConLabel').text() + ' ' + message);
				$("#motherContact").focus();
				return false;
			}
		}
		
		if($("#isEnablePreSchInfo").is(":checked"))
		{
			if($("#preSchool").val() == null || $("#preSchool").val().trim() == '')
			{
				message = $('#preSchLabel').text() + ' ' + requiredInfo;
				alert(message);
				$("#preSchool").focus();
				return false;
			}
			
			if($("#preSchAddress").val() == null || $("#preSchAddress").val().trim() == '')
			{
				message = $('#preSchAddLabel').text() + ' ' + requiredInfo;
				alert(message);
				$("#preSchAddress").focus();
				return false;
			}
			
			if($("#preSchoolContact").val() != null || $("#preSchoolContact").val().trim() != '')
			{
				if(isNaN($("#preSchoolContact").val()))
				{
					message = $('#preSchConLabel').text() + ' ' + numberMsg;
					alert(message);
					$("#preSchoolContact").focus();
					return false;
				}
				
				if(!isInt($("#preSchoolContact").val().trim()))
				{
					message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
					alert($('#preSchConLabel').text() + ' ' + message);
					$("#preSchoolContact").focus();
					return false;
				}
			}
					
			if($("#lastExam").val() == null || $("#lastExam").val().trim() == '')
			{
				message = $('#lastClazLabel').text() + ' ' + requiredInfo;
				alert(message);
				$("#lastExam").focus();
				return false;
			}
			
			if($("#percentage").val() == null || $("#percentage").val().trim() == '')
			{
				message = $('#percentageLabel').text() + ' ' + requiredInfo;
				alert(message);
				$("#percentage").focus();
				return false;
			}
			
			if(isNaN($("#percentage").val()) || !isNumeric($("#percentage").val().trim()))
			{
				message = $('#percentageLabel').text() + ' ' + numberMsg;
				alert(message);
				$("#percentage").focus();
				return false;
			}
			
			if($("#board").val() == null || $("#board").val().trim() == '')
			{
				message = $('#boardLabel').text() + ' ' + requiredInfo;
				alert(message);
				$("#board").focus();
				return false;
			}
			
			if($("#examYear").val() == null || $("#examYear").val().trim() == '')
			{
				message = $('#exYrLabel').text() + ' ' + requiredInfo;
				alert(message);
				$("#examYear").focus();
				return false;
			}
			
			if(!isInt($("#examYear").val().trim()))
			{
				message = /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/;
				alert($('#exYrLabel').text() + ' ' + message);
				$("#examYear").focus();
				return false;
			}
			
			if(isNaN($("#preRemarks").val()))
			{
				message = $('#remarksLabel').text() + ' ' + numberMsg;
				alert(message);
				return false;
			}
			
			if($("#preRemarks").val() == null || $("#preRemarks").val().trim() == '')
			{
				message = $('#remarksLabel').text() + ' ' + requiredInfo;
				alert(message);
				return false;
			}
		}
		form.isEnablePreSchInfo.value = $("#isEnablePreSchInfo").is(":checked");
		form.submit();
	}
</script>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper">
	<form th:action="@{/student/save}" th:object="${StudentFormBean}" name="StudentFormBean" method="POST" id="StudentFormBean" enctype="multipart/form-data">
		<div class="col-lg-12 breadcrum_margin">
	        <ol class="breadcrumb">
	          <li><i class="icon_house_alt"></i><a th:href="@{/admin}"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.home')}"></span></a></li>
	          <li><i class="icon_desktop"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student')}"></span></li>
	          <li><i class="icon_desktop"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.admission')}"></span></li>
	        </ol>
	    </div>
		<div class="row" style="margin-left: 5px;">
		    <!-- check box top -->
			<div class="col-lg-12">
				<label class="label_check" for="checkbox-01">
	              	<input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox" checked />&nbsp;<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.physicallydisabled')}"></span>
	            </label>
				<label class="label_check" for="checkbox-01">
	              	<input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox" checked />&nbsp;<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.underrte')}"></span>
	            </label>
				<label class="label_check" for="checkbox-01">
	              	<input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox" checked />&nbsp;Is&nbsp;<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.hosteler')}"></span>
	            </label>
				<label class="label_check" for="checkbox-01">
	              	<input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox" checked /> Staff's War
	            </label>
				<label class="label_check" for="checkbox-01">
	              	<input name="sample-checkbox-01" id="checkbox-01" value="1" type="checkbox" checked />Daycare
	            </label>
			</div>
			
		<!-- 	input text -->
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="regNoLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.regno')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="10" th:field="*{studentId}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<input type="button" class="btn btn-primary" onclick="fnFetchByRegNo()" th:value="${@environment.getProperty('webproto.schoolmgmt.label.fetch')}">
				</div>
				<div class="col-lg-8">
				</div>
			</div>     
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.branch')}"></label>
				</div>
				<div class="col-lg-8">
					<select class="form-control" th:field="*{branchId}">
	                	<th:block th:each="list: ${StudentFormBean.branchList}">
		                    <option th:value="${list.integer1}" th:text="${list.string1}" th:selected="${list == StudentFormBean.branchId}"></option>
	                	</th:block>
	                 </select>
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.session')}"></label>
				</div>
				<div class="col-lg-8">
					<select class="form-control" th:field="*{session}">
	                	<th:block th:each="list: ${StudentFormBean.sessionList}">
		                    <option th:value="${list}" th:text="${list}" th:selected="${list == StudentFormBean.session}"></option>
	                	</th:block>
	                 </select>
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="firstNameLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.firstname')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" th:field="*{firstName}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="lastNameLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.lastname')}"></label>
				</div>
				<div class="col-lg-8">
				<input type="text" class="form-control" th:field="*{lastName}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" id="dobLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.dob')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" th:field="*{dob}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" id="aadharLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.aadhar')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="12" th:field="*{aadhar}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.gender')}"></label>
				</div>
				<div class="col-lg-8">
	                <select class="form-control" th:field="*{gender}">
	                	<th:block th:each="map: ${StudentFormBean.genderMap}">
		                	<option th:value="${map.key}" th:text="${map.value}"></option>
	                	</th:block>
	                 </select>
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.chooseimage')}"></label>
				</div>
				<div class="col-lg-8">
				 	<input type="file" class="form-control form-control-file" style="padding: 0px !important; height: fit-content;" name="image" id="image">
				</div>	
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="bloodGroupLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.bloodgroup')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="10" th:field="*{bloodGroup}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label"  id="contactLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.contactno')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="10" th:field="*{contactNo}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" id="emailLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.email')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="90" th:field="*{email}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.salutation')}"></label>
				</div>
				<div class="col-lg-8">
				<input type="text" class="form-control" >
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="casteLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.caste')}"></label>
				</div>
				<div class="col-lg-8">
				<input type="text" class="form-control" maxlength="30" th:field="*{caste}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" id="religionLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.religion')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="20"th:field="*{religion}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="categoryLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.category')}"></label>
				</div> 
				<div class="col-lg-8">
				<input type="text" class="form-control" maxlength="10" th:field="*{category}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="nationalityLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.nationality')}"></label>
				</div>
				<div class="col-lg-8">
				<input type="text" class="form-control" maxlength="10" th:field="*{nationality}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" id="guardLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.guardianname')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="90" th:field="*{guardianName}">
				</div>
			</div>
			<div class="col-lg-6 input-col " >
				<div class="col-lg-4">
					<label class="control-label" id="guardRelLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.guardianrelation')}"></label>
				</div>
				<div class="col-lg-8">
					<input type="text" class="form-control" maxlength="20" th:field="*{guardianRelation}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="guardConLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.guardiancontactnumber')}"></label>
				</div>
				<div class="col-lg-8">
				<input type="text" class="form-control" maxlength="10" th:field="*{guardianContact}">
				</div>
			</div>
			<div class="col-lg-6 input-col">
				<div class="col-lg-4">
					<label class="control-label" id="occuLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.occupation')}"></label>
				</div>
				<div class="col-lg-8">
				<input type="text" class="form-control" maxlength="20" th:field="*{occupation}">
				</div>
			</div>
	
	<!--  address section -->
			
			<div class="col-lg-6 input-col " >
			<h2 class="col-lg-12" style="margin-left: 50%;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.localadd')}"></h2>
				<div class="col-lg-4 input-col ">
					<label class="control-label" id="addressLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.address')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="190" th:field="*{localAddress}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="cityLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.city')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control"  maxlength="100" th:field="*{localCity}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="pinLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.pin')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="6"  th:field="*{localPin}" oninput="getByPinCode(this.id, 'localState', 'localDistrict')">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="stateLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.state')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control"  th:field="*{localState}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="districtLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.district')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control"  th:field="*{localDistrict}">
				</div>
			</div>
			
			
			<div class="col-lg-6 input-col">
			<h2 class="col-lg-12" style="margin-left:45%;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.permanentadd')}"></h2>
				<div class="col-lg-4 input-col ">
					<label class="control-label" id="pAddLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.address')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="190" th:field="*{permanentAddress}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="pCityLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.city')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="100" th:field="*{permanentCity}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="pPinLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.pin')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="6" th:field="*{permanentPin}" oninput="getByPinCode(this.id, 'permanentState', 'permanentDistrict')">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="pStateLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.state')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control"  th:field="*{permanentState}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="pDistLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.district')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control"  th:field="*{permanentDistrict}">
				</div>
			</div>
	<!-- parrent details	 -->
			<div class="col-lg-6 input-col">
			<h2 class="col-lg-12" style="margin-left:45%;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.fatherdetails')}"></h2>
				<div class="col-lg-4 input-col ">
					<label class="control-label" id="fatherNameLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.name')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="99" th:field="*{fatherName}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="fatherContLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.contactno')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="10" th:field="*{fatherContact}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="fatherOccLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.occupation')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="50" th:field="*{fatherOccupation}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="fatherEduLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.education')}"></label>
				</div>
				<div class="col-lg-8 input-col">
				 	<input type="text" class="form-control" maxlength="20" th:field="*{fatherEducation}">
				</div>	
			</div>
			<div class="col-lg-6 input-col">
			<h2 class="col-lg-12" style="margin-left:45%;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.motherdetails')}"></h2>
				<div class="col-lg-4 input-col ">
					<label class="control-label" id="motherNameLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.name')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="99" th:field="*{motherName}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="motherConLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.contactno')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="10" th:field="*{motherContact}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="motherOccLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.occupation')}"></label>
				</div>
				<div class="col-lg-8 input-col">
					<input type="text" class="form-control" maxlength="50" th:field="*{motherOccupation}">
				</div>
				<div class="col-lg-4 input-col">
					<label class="control-label" id="motherEduLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.education')}"></label>
				</div>
				<div class="col-lg-8 input-col">
				 	<input type="text" class="form-control" maxlength="20" th:field="*{motherEducation}">
				</div>	
			 </div>
		 
		<!-- previous school information -->
				<div class="col-lg-12 input-col"  style="margin-top: 20px; font-size: 20px;">
					<label class="label_check" for="isEnablePreSchInfo">
	              		<input name="isEnablePreSchInfo" id="isEnablePreSchInfo" onclick="fnEnablePreSchInfo(false)" type="checkbox" th:field="*{isEnablePreSchInfo}"/>&nbsp;<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.previousschinfo')}"></span>
	           		</label>
	           	</div>
	           	 
				<div class="col-lg-6 input-col preSchDiv">
					<div class="col-lg-4 input-col ">
						<label class="control-label" id="preSchLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.school')}"></label>
					</div>
					<div class="col-lg-8 input-col">
						<input type="text" class="form-control" maxlength="100" th:field="*{preSchool}">
					</div>
					<div class="col-lg-4 input-col">
						<label class="control-label" id="preSchAddLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.address')}"></label>
					</div>
					<div class="col-lg-8 input-col">
						<input type="text" class="form-control" maxlength="150" th:field="*{preSchAddress}">
					</div>
					<div class="col-lg-4 input-col">
						<label class="control-label" id="preSchConLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.contactno')}"></label>
					</div>
					<div class="col-lg-8 input-col">
						<input type="text" class="form-control" maxlength="10" th:field="*{preSchoolContact}">
					</div>
					<div class="col-lg-4 input-col">
						<label class="control-label" id="lastClazLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.lastclassattended')}"></label>
					</div>
					<div class="col-lg-8 input-col">
						<input type="text" class="form-control" maxlength="20" th:field="*{lastExam}">
					</div>
				 </div>    
				<div class="col-lg-6 input-col preSchDiv">
					<div class="col-lg-4 input-col ">
						<label class="control-label" id="boardLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.board')}"></label>
					</div>
					<div class="col-lg-8 input-col">
						<input type="text" class="form-control" maxlength="20" th:field="*{board}">
					</div>
					<div class="col-lg-4 input-col">
						<label class="control-label" id="exYrLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.examyear')}"></label>
					</div>
					<div class="col-lg-8 input-col">
						<input type="text" class="form-control" maxlength="4" placeholder="Ex. 2020" th:field="*{examYear}">
					</div>
					<div class="col-lg-4 input-col">
						<label class="control-label" id="percentageLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.percentage')}"></label>
					</div>
					<div class="col-lg-8 input-col">
					 	<input type="text" class="form-control" maxlength="4" th:field="*{percentage}">
					</div>
					<div class="col-lg-4 input-col">
						<label class="control-label" id="remarksLabel" th:text="${@environment.getProperty('webproto.schoolmgmt.label.remarks')}"></label>
					</div>
					<div class="col-lg-8 input-col">
					 	<input type="text" class="form-control" maxlength="4" th:field="*{preRemarks}">
					</div>
			     </div>    
            	<div class="col-lg-12 input-col" style="margin-left: 50%;">
            		<input type="button" class="btn btn-primary" th:onclick="'fnReset()'" th:value="${@environment.getProperty('webproto.schoolmgmt.label.reset')}">
        			<input type="button" class="btn btn-primary" th:onclick="'onSubmit()'" th:value="${@environment.getProperty('webproto.schoolmgmt.label.submit')}">
            	</div>
	         </div>
         </form>
	</div>
</div>
</body>
</html>
