<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Student Home</title>
<style type="text/css">
.con
{
	
	width: 100%;
	height: 184px;
	background-color: #ffff;
}
.head
{
 	height: 30px;
 	background-color: #1C1CD8;
 	color: black;
}
.col-lg-4
{
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.fa-ellipsis-v
{
	color: #FFFFFF;
}
.dropdown-menu
{
	left: 7px !important;
}
</style>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function(e)
{
	fnSearch(true);
});

function fnSearch(isOnload)
{
	var clazz = $("#clazz").val();
	var section = $("#section").val();
	
	if (isOnload || clazz == "ALL_CLASS")
	{
		clazz = null;
	}
	
	if (section == "ALL_SEC" || isOnload)
	{
		section = null;
	}
	
	var token = /*[[${_csrf.token}]]*/;
	$.ajax({
        type: "POST",
        url: /*[[@{/student/search}]]*/,
        data: {
        	"clazz"   : clazz,
        	"section"   : section
        }, 
        beforeSend: function(xhr) 
	    {
	        xhr.setRequestHeader('X-CSRF-TOKEN', token);
	    },
        cache: false,
        timeout: 600000,
        success: function (response)
        {
			$("#summaryDiv").html(response);
        },
        error: function (e) 
        {
            console.log("ERROR : ", e);
        }
    });	
}

function getSectionByClass(clazz)
{
	if (clazz == "ALL_CLASS")
	{
		clazz = null;
		$("#section").empty();
		$("#section").append(new Option(/*[[${@environment.getProperty('webproto.schoolmgmt.label.allsection')}]]*/, 'ALL_SEC')); 
	}
	
	var token = /*[[${_csrf.token}]]*/;
	$.ajax({
        type: "POST",
        url: /*[[@{/class/getSection}]]*/,
        data: {
        	"clazz"   : clazz
        }, 
        beforeSend: function(xhr) 
	    {
	        xhr.setRequestHeader('X-CSRF-TOKEN', token);
	    },
        cache: false,
        timeout: 600000,
        success: function (response)
        {	
        	var json = JSON.parse(response);
        	$("#section").empty();
        	Object.entries(json).forEach(([key, val]) => 
    		{
	        	$("#section").append(new Option(key, val)); 
    		});
        },
        error: function (e) 
        {
            console.log("ERROR : ", e);
        }
    });	
}

function fnSubmit(id)
{
	var form = document.StudentHome;
	var urlStr =  /*[[@{/student/getById}]]*/;
	urlStr += "?i=" + id;
	form.action = urlStr;
	form.submit();
}

function fnDelete(id)
{
	var form = document.StudentHome;
	var urlStr =  /*[[@{/student/deleteById}]]*/;
	urlStr += "?i=" + id;
	form.action = urlStr;
	form.submit();
}

</script>
</head>
<body>
<div class="wrapper" layout:fragment="content" >
<form name="StudentHome" id="StudentHome" method="POST">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<div class="col-lg-12 breadcrum_margin" style="margin-left: 5px;">
		 <ol class="breadcrumb">
		     <li><i class="icon_house_alt"></i><a th:href="@{/admin}"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.home')}"></span></a></li>
		     <li><i class="icon_desktop"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student')}"></span></li>
		     <li><i class="icon_desktop"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.dashboard')}"></span></li>
		 </ol>
	</div>
	<div class="col-lg-12">
		<div class="col-lg-5 input-col">
			<div class="col-lg-4" style="margin-top: 8px;">	
				<label class="control-label" style="padding-top: 0px;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.class')}"></label>
			</div>
			<div class="col-lg-8">
				<select class="form-control m-bot15" id="clazz" onchange="getSectionByClass(this.value)">
					<option value="ALL_CLASS" th:text="${@environment.getProperty('webproto.schoolmgmt.label.allclass')}"></option>
                	<th:block th:each="clazz : ${classList}">
	                	<option th:value="${clazz.id}" th:text="${clazz.className}"></option>
                	</th:block>
                 </select>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="col-lg-4" style="margin-top: 8px;">	
				<label class="control-label" style="padding-top: 0px;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.section')}"></label>
			</div>
			<div class="col-lg-8">
				<select class="form-control m-bot15" id="section">
					<option value="ALL_SEC" th:text="${@environment.getProperty('webproto.schoolmgmt.label.allsection')}"></option>
                </select>
			</div>
		</div>
		<div class="col-lg-2">
			<input type="button" class="btn btn-primary text-bold" onclick="fnSearch(false)" style="float: right;" th:value="${@environment.getProperty('webproto.schoolmgmt.label.fetch')}"/>
		</div>
	</div>
  	 <div class="col-lg-12">
  	 	<div id="summaryDiv"></div>
	</div> 
</form>
</div>
</body>
</html>