<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{/layout}" >
<head>
<meta charset="ISO-8859-1">
<title>TCPrintReport</title>
<style type="text/css">
.label_check
{
	margin-left: 20px;	
}
.input-col
{
	margin-top: 10px;
}
</style>
</head>
<body>
<div layout:fragment="content" class="wrapper">
	<div class="col-lg-12 breadcrum_margin">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i><a th:href="@{/admin}"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.home')}"></span></a></li>
          <li><i class="icon_desktop"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student')}"></span></li>
          <li><i class="icon_desktop"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.tcissuereport')}"></span></li>
        </ol>
    </div>
	<div class="row" style="margin-left: 5px;">
			<div class="col-lg-2 input-col  " >
			</div>
			<div class="col-lg-4 input-col  " >
				<div class="col-lg-2">
					<label class="control-label">From :</label>
				</div>
				<div class="col-lg-10">
					<input type="date" class="form-control">
				</div>
			</div>
			<div class="col-lg-4 input-col  " >
				<div class="col-lg-2">
					<label class="control-label">To :</label>
				</div>
				<div class="col-lg-10">
					<input type="date" class="form-control">
				</div>
			</div>
			<div class="col-lg-2 input-col  " >
				<button type="submit" class="btn btn-primary">Go</button>
			</div>
	</div>
</div>

</body>
</html>