<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{/layout}" >
<head>
<meta charset="ISO-8859-1">
<title>Teacher</title>
<style type="text/css">
.center
{
	top:500px;
	transform:translatez(50%); 
}
.input-col
{
	margin-top: 10px;
}
.modal-dialog
{
	width: 100%;
}
.dataTables_scrollHeadInner
{
	margin-bottom: -22px;
	background-color: #D3D3D3;
}
</style>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function()
{
	var cdate = new Date();
	var yRange = (cdate.getFullYear() - 20) + ":" + cdate.getFullYear();
	
	$("#tdate").datepicker(
	{
      changeMonth: true,
      changeYear: true,
      yearRange: yRange
    });

	$("#teacherTable").DataTable({
		"scrollX": true,
		"bPaginate": false,
		"bInfo":false,
		"bFilter": false
	});
});

function fnAddTeacher()
{
	var form = document.TeacherFormBean;
	
	var message = '';
	var name = $("#name").val();
	var fatherName = $("#fatherName").val();
	var mobile = $("#mobile").val();
	var dob = $("#tdate").val();
	var email = $("#email").val();
	var experience = $("#experience").val();
	var salary = $("#salary").val();
	
	if(name == null || name.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.name')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#name").focus();
		return false;
	}
	
	if(fatherName == null || fatherName.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.fatherhusbandname')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#fatherName").focus();
		return false;
	}
	
	if(dob == null || dob.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.student.dob')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#tdate").focus();
		return false;
	}
	
	if(email == null || email.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.email')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#email").focus();
		return false;
	}

	if (!isValidEmail(email))
	{
		alert(/*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.email')}]]*/);
		$("#email").focus();
		return false;
	}
	
	if(mobile == null || mobile.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.mobile')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#mobile").focus();
		return false;
	}
	
	if(isNaN(mobile))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.mobile')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/);
		$("#mobile").focus();
		return false;
	}
	
	if(!isInt(mobile))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.mobile')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/);
		$("#mobile").focus();
		return false;
	}
	
	if($("#subject").val() == null || $("#subject").val().trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.subject')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#subject").focus();
		return false;
	}
	
	if($("#specialization").val() == null || $("#specialization").val().trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.teacher.specialization')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#specialization").focus();
		return false;
	}
	
	if($("#highQualification").val() == null || $("#highQualification").val().trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.teacher.highQualification')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#highQualification").focus();
		return false;
	}
	
	if(experience == null || experience.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.teacher.experience')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#experience").focus();
		return false;
	}
	
	if(isNaN(experience))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.teacher.experience')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/);
		$("#experience").focus();
		return false;
	}
	
	if(!isInt(experience))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.teacher.experience')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/);
		$("#experience").focus();
		return false;
	}
	
	if(salary == null || salary.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.salary')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#salary").focus();
		return false;
	}
	
	if(isNaN(salary))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.salary')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/);
		$("#salary").focus();
		return false;
	}
	
	if($("#address").val() == null || $("#address").val().trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.address')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#address").focus();
		return false;
	}
	
	var pin = $("#pin").val();
	if(pin == null || pin.trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.pin')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#pin").focus();
		return false;
	}
	
	if(isNaN(pin))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.pin')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.number')}]]*/);
		$("#pin").focus();
		return false;
	}
	
	if(!isInt(pin))
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.pin')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.digit')}]]*/);
		$("#pin").focus();
		return false;
	}
	
	if($("#district").val() == null || $("#district").val().trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.district')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#district").focus();
		return false;
	}
	
	if($("#state").val() == null || $("#state").val().trim() == '')
	{
		message = /*[[${@environment.getProperty('webproto.schoolmgmt.label.state')}]]*/;
		message += ' ';
		alert(message + /*[[${@environment.getProperty('webproto.schoolmgmt.validation.msg.requiredinformation')}]]*/);
		$("#state").focus();
		return false;
	}
		
	form.action = /*[[@{/teacher/save}]]*/;
	form.submit();
}
</script>
</head>
<body>
<div layout:fragment="content" class="wrapper">
<form method="post" th:object="${TeacherFormBean}" name="TeacherFormBean">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<div class="col-lg-12 breadcrum_margin">
        <ol class="breadcrumb" style="margin: 0 -11px 15px 5px;">
          <li><i class="icon_house_alt"></i><a th:href="@{/admin}"><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.home')}"></span></a></li>
          <li><i class="fas fa-chalkboard-teacher"></i><span th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher')}"></span></li>
        </ol>
    </div>
	<div class="row" style="margin-left: 5px;">
		<div class="col-lg-12">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="alert alert-success alert-dismissible" th:if="${isAdded == true}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher')}"></span>&nbsp;<span th:text="${className}"></span>&nbsp;<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.addedsuccessfully')}"></span>
				</div>
				<div class="alert alert-success alert-dismissible" th:if="${isDelete == true}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.deletionsuccessfull')}"></span>
				</div>
				<div class="alert alert-success alert-dismissible" th:if="${isUpdated == true}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.class')}"></span>&nbsp;<span th:text="${className}"></span>&nbsp;<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.updatedsuccessfully')}"></span>
				</div>
			</div>
			<div class="col-lg-2">
				<span class="btn btn-primary text-bold" style="float: right; margin-right: -12px; margin-bottom: 5px; padding: 10px;" onclick="openModal('teacherModal');" th:text="${@environment.getProperty('webproto.schoolmgmt.label.addnew')}"></span>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="modal teacherModal" style="top:10%;">
				<div class="container center">
					<div class="modal-content">
						<div class="modal-header" style="height: 45px;">
							<span class="modal-title text-bold" style="margin-top: 4px;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.addnew')}"></span>
							<span class="close text-bold" onclick="hideModal('teacherModal');" style="margin-top: -12px; margin-right: 0px; float: right;">&times;</span>
						</div>
						<div class="modal-body">
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4 ">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.name')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{name}">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" style="white-space: nowrap;" th:text="${@environment.getProperty('webproto.schoolmgmt.label.fatherhusbandname')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{fatherName}">
									</div>
								</div>
							</div>
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4 ">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.dob')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" id="tdate" th:field="*{dob}">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.email')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="email" class="form-control" th:field="*{email}">
									</div>
								</div>
							</div>
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4 ">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.mobile')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{mobile}" maxlength="10">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.subject')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{subject}">
									</div>
								</div>
							</div>
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4 ">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.specialization')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{specialization}">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.highQualification')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{highQualification}">
									</div>
								</div>
							</div>
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4 ">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.experience')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{experience}" maxlength="5">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.salary')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{salary}">
									</div>
								</div>
							</div>
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4 ">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.address')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{address}">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.pin')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{pin}">
									</div>
								</div>
							</div>
							<div class="col-lg-12">	
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.district')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{district}">
									</div>
								</div>
								<div class="col-lg-6 input-col">
									<div class="col-lg-4">
										<label class="control-label" th:text="${@environment.getProperty('webproto.schoolmgmt.label.state')}"></label>
									</div>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{state}">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-primary" onclick="fnTeacherForm()" th:value="${@environment.getProperty('webproto.schoolmgmt.label.reset')}"/>
							<input type="button" class="btn btn-primary" onclick="fnAddTeacher()" style="margin-left: 10px; width: 75px;" th:value="${@environment.getProperty('webproto.schoolmgmt.label.save')}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row input-col" style="margin-left: 5px;">
		<div class="col-sm-12">
			<section class="panel">
				<table class="table table-advance table-hover table-bordered display nowrap" id="teacherTable" style="width: 100%; white-space: nowrap;">
					<thead>
						<tr>
							<th style="text-align: center;">
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.action')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.name')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.fatherhusbandname')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.highQualification')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.specialization')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.subject')}"></span>
							</th>
							<th class="numeric" >
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.salary')}"></span>
							</th>
							<th class="numeric" >
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.mobile')}"></span>
							</th>
							<th class="numeric" >
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.experience')}"></span>
							</th>
							<th class="numeric" >
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.teacher.joiningdate')}"></span>
							</th>
							<th>
								<span class="numeric" th:text="${@environment.getProperty('webproto.schoolmgmt.label.pin')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.state')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.district')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.email')}"></span>
							</th>
							<th>
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.address')}"></span>
							</th>
							<th class="numeric">
								<span th:text="${@environment.getProperty('webproto.schoolmgmt.label.student.dob')}"></span>
							</th>
						</tr>
						</thead>
						<tbody>
						<th:block th:each="list: ${teacherList}">
							<tr>
								<td style="text-align: center;">
									<span class="link" style="margin-right: 3px;"><i class="fas fa-edit"></i></span>
									<span class="link" style="margin-left: 3px;"><i class="fas fa-trash"></i></span>
								</td>
								<td>
									<span th:text="${list.name}"></span>
								</td>
								<td>
									<span th:text="${list.fatherName}"></span>
								</td>
								<td>
									<span th:text="${list.highQualification}"></span>
								</td>
								<td>
									<span th:text="${list.specialization}"></span>
								</td>
								<td>
									<span th:text="${list.subject}"></span>
								</td>
								<td class="numeric" >
									<span th:text="${list.salary}"></span>
								</td>
								<td class="numeric" >
									<span th:text="${list.mobile}"></span>
								</td>
								<td class="numeric">
									<span th:text="${list.experience}"></span>
								</td>
								<td class="numeric" >
									<span th:text="${list.joiningDate}"></span>
								</td>
								<td class="numeric" >
									<span th:text="${list.pin}"></span>
								</td>
								<td>
									<span th:text="${list.state}"></span>
								</td>
								<td>
									<span th:text="${list.district}"></span>
								</td>
								<td>
									<span th:text="${list.email}"></span>
								</td>
								<td>
									<span th:text="${list.address}"></span>
								</td>
								<td class="numeric" >
									<span th:text="${list.dob}"></span>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</form>
</div>
</body>
</html>