<?xml version="1.0" encoding="UTF-8"?>

<configuration >
   <property name="BASE_DIR" value="../webprotologs" />
   
   	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy MM dd HH:mm:ss:SSS} \(%logger{50}:%L{4}\) :[%thread] %level - %msg %n</pattern>
		</encoder>
	</appender>
	
   <appender name="ALL_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BASE_DIR}/schoolmgmt/schoolmgmt.%d{yyyy-MM-dd_HH}.%i.log.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <MaxHistory>500</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy MM dd HH:mm:ss:SSS} [%-50thread] %-5level - %msg %n</pattern>
    </encoder>
  </appender>
  
  <appender name="ERROR_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
		<level>ERROR</level>
	</filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BASE_DIR}/schoolmgmt/errorlog/schoolmgmt_error.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <MaxHistory>50</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy MM dd HH:mm:ss:SSS} [%-50thread] %-5level - %msg %n</pattern>
    </encoder>
  </appender>
  
  <appender name="WARN_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> 
		<level>WARN</level>
	</filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${BASE_DIR}/schoolmgmt/warnlog/schoolmgmt_warn.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <MaxHistory>50</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy MM dd HH:mm:ss:SSS} [%-50thread] %-5level - %msg %n</pattern>
    </encoder>
  </appender>
  
 <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
	 <appender-ref ref="ALL_ROLLING_FILE"/>
	 <queueSize>1000000</queueSize>
	 <discardingThreshold>0</discardingThreshold>
  </appender>

  <Logger name="org.springframework.boot" level="DEBUG">
  	<appender-ref ref="CONSOLE"/>
  </Logger>
  
  <logger name="java.sql.PreparedStatement" level="DEBUG">
   	<appender-ref ref="ALL_ROLLING_FILE"/>
  </logger>
 
  <!-- <logger name="in.webproto" level="ERROR">
    <appender-ref ref="ERROR_ROLLING_FILE"/>
  </logger> -->
  
  <!-- <logger name="in.webproto" level="DEBUG">
    <appender-ref ref="WARN_ROLLING_FILE"/>
  </logger> -->
  
	<logger name="in.webproto" level="DEBUG">
     <appender-ref ref="ASYNC"/>
  </logger> 
    
  <root>
       <level value="INFO DEBUG" />
       <appender-ref ref="ALL_ROLLING_FILE"/>
  </root>
</configuration>